.partehomeos{
    display: flex;
}
.partehomeos img{
    margin: auto;
}
.partehomeos p{
    max-width: 600px;
    margin: 10px 15px;
    text-align: justify;
    font-size: 15px;
}
.partealime img{
    margin: auto;
}
.partealime{
    display: flex;
}
.partealime p{
    max-width: 800px;
    margin: auto;
}
.partealime2{
    display: flex;
}
.partealime2 img{
    margin: auto;
}
.partealime2 p{
    margin: auto;
    max-width: 800px;
}

.partesuple .suplementos{
    width: 400px;
    height: 550px;
    margin: auto;
}
.parteinter2 ul > li{
    margin: 5px 40px;
}
.parteinter3{
    display: flex;
}
.coracao {
    display: flex;
}

.imagem3{
    margin: auto;
    width: 300px;
}