footer{
    margin: auto;
    width: 90%;
    border: 2px solid #3e4b51;
    background-color: black;
    background-color: #6e8268;
}
footer .texto{
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
footer .creditos{
    display: flex;
    justify-content: space-around;
    
}
footer .galeradosite > ul > li{
    list-style: none;
}


