
.fundo_header{
    border-bottom: 3px solid var(--violeta--);
}

header{
    
    height: 100px;
    display: flex;
    margin: auto;
    width: 90%;
    justify-content:flex-start;    
    background-color: #6e8268;
}
.mainmenubtn {
    background-color: #6e8268;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}

.dropdown {
    position: relative;
    display: block;
}
.dropdown-child {
    display: none;
    background-color: #3e4b51;
    min-width: 150px;
}
.dropdown-child a {
    color: #6e8268;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
    transition: 0.5s;
}
.logonav{
    margin-left: 44%;
    position: absolute;
}

nav > .linksnav > ul{
    display: flex;
    

}
nav > .linksnav > ul > li{
    list-style: none;
    text-align: center;
    font-size: 18px;
}

nav > .linksnav > ul > li + li{
    border-left: 2px solid white;
}

nav > .linksnav > ul > li > a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

nav > .linksnav > ul > li > a:hover{
    color: rgb(48, 219, 48);
    border-bottom: 2px solid rgb(48, 219, 48);
    transition: 0.5s;
}
/*fim da NAV */

*{
    margin: 0;
    padding: 0;
}
.base{
    text-align: center;
    
    width: 90%;
    margin: auto;
}

/*conteúdo*/
main{
    width: 90%;
    margin: auto;
}
h1{
    text-align: center;
    color: #6e8268;
    padding: 8px;
}


main .homeostase{
    display: flex;
    border: 1px solid;
    background-color: #f4fce2;
}


main .homeostase  .funcao2{
    max-width: 550px;
    text-align: justify;
    margin: auto;
    
}
.linha{
    margin-top: 20px;
    border-top: 1px solid #6e8268;
    padding: 10px;
    
}
main .homeostase > .image{
    width: 45%;
    height: 250px;
}
.funcao{
    text-decoration: none;
    color: rgba(5, 53, 17, 0.822);
    font-size: 20px;
    margin-left: 10%;
    
}
main{
    width: 90%;
}
main .posicao{
    margin: 15px;
    width: 55%;
    
}
.conteudos{
    background-color: #ddd;
    text-align: justify;
    width: 95%;
    margin: auto;
    padding: 20px;
    margin-bottom: 5PX;
    border: 1px solid;
    height: 1000px;
}
.equipe{
    background-color: #6f737e;
}
.equi1{
    background-color: #3e4b51;
}
.equi2{
    background-color: #3e4b51;
}








