html{
    scroll-behavior: smooth;
}
body{
    background-color: #6e8268;
}
header{
    
    height: 100px;
    display: flex;
    margin: auto;
    width: 95%;
    justify-content:space-between;    
    background-color: #6e8268;
}
.mainmenubtn {
    background-color: #6e8268;
    color: white;
    border: none;
    transition: 1s;
    cursor: pointer;
    padding:20px;
    margin-top:40px;
}

.dropdown {
    position: relative;
    display: block;
}
.dropdown-child {
    display: none;
    background-color: #fff;
    border: 1px solid;
    min-width: 150px;
    transition: 0.5s;
    cursor: pointer;
}
.dropdown-child a{
    color: #6e8268;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}


nav > .linksnav > ul{
    display: flex;
    

}
nav > .linksnav > ul > li{
    list-style: none;
    text-align: center;
    font-size: 18px;
}

nav > .linksnav > ul > li + li{
    border-left: 2px solid white;
}

nav > .linksnav > ul > li > a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

nav > .linksnav > ul > li > a:hover{
    color: rgb(48, 219, 48);
    border-bottom: 2px solid rgb(48, 219, 48);
    transition: 0.5s;
}
/*fim da NAV */

*{
    margin: 0;
    padding: 0;
}
.base{
    text-align: center;
    
    width: 90%;
    margin: auto;
}

/*conteúdo*/
main{
    width: 90%;
    margin: auto;
}
h1{
    text-align: center;
    color: #6e8268;
    padding: 8px;
}


main .homeostase{
    display: flex;
    border: 1px solid #3e4b51;
    background-color: #f4fce2;
}


main .homeostase  .funcao2{
    max-width: 550p;
    margin: auto;
    font-size: 18px;
    
}
.linha{
    margin-top: 20px;
    border-top: 1px solid;
    padding: 10px;
    
}
.parte{
    display: flex;
}
main .homeostase > .image{
    width: 200px;
    margin: auto;
    background-color: rgba(5, 53, 17, 0.822);
    border: 1px solid;
    padding: 0 200px;
}
main .homeostase > .image2{
    width: 200px;
    margin: auto;
    background-color: #085831;
    border: 1px solid;
    padding: 0 200px;
}
.funcao{
    text-decoration: none;
    color: rgba(5, 53, 17, 0.822);
    font-size: 20px;
    margin-left: 10%;
    cursor: pointer;
    
}
main{
    width: 90%;
}
main .posicao{
    margin: 15px;
    width: 55%;
    
}
.conteudos{
    display: none;
}
.parte2{
    display: flex;
}
.escon{
    background-color: #ddd;
    margin: auto;
    width: 95%;
    padding: 20px;
    margin-bottom: 5PX;
    border: 1px solid;   
}
.equipe{
    background-color: #6f737e;
    gap: 2rem;
    display: none;
    
}
.equi1{
    background-color: #3e4b51;
    display: flex;
    
}
.equi2{
    background-color: #3e4b51;
}
.image10{
    background-color: #085831;
    margin: 20px 0;
}
.setacima{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    text-align: center;
    z-index: 100;
    transition: bottom 0.3s;
    cursor: pointer;
}
h4{
    cursor: pointer;
}
@media (max-width: 900px){
    main .parte{
        flex-direction: column;
    }
    main .homeostase .funcao2{
        max-width: 800px;
        text-align: center;
    }
    main .parteinter .parteinter3 > img{
        margin: auto;
    }
    main .parteinter .parteinter3{
        flex-direction: column;
    }
    main .image2{
        display: none;
    }
    main .image3{
        display: none;
    }
    main .image10{
        display: none;
    }
    .homeostase{
        display: flex;
        flex-direction: column;
    }
    main .homeostase > .image{
        width: 100%;
    }
    .podcat{
        max-width: 600.5px;
    }
    main .partesuple img{
        margin: 0;
    }
}
@media (max-width: 601px) {
    main .parteinter .parteinter3 > img{
        margin: auto;
    }
    main .parteinter .parteinter3{
        flex-direction: column;
    }
    main .homeostase{
        width: 90%;
    }
    main .parte{
        flex-direction: column;
    }
    main .homeostase .funcao2{
        text-align: center;
    }
    main .image2{
        display: none;
    }
    main .image3{
        display: none;
    }
    main .image10{
        display: none;
    }
    .homeostase{
        display: flex;
        flex-direction: column;
    }
    main .homeostase > .image{
        width: 100%;
    }
    .podcat{
        max-width: 497.5px;
    }
    main .partesuple img{
        margin: 0;
    }
}
@media (min-width: 500px ) and (max-width: 600px) {
    main .parteinter .parteinter3 > img{
        margin: auto;
    }
    main .parteinter .parteinter3{
        flex-direction: column;
    }
    main .homeostase{
        width: 90%;
    }
    main .parte{
        flex-direction: column;
    }
    main .homeostase .funcao2{
        max-width: 500px;
        text-align: center;
    }
    main .image2{
        display: none;
    }
    main .image3{
        display: none;
    }
    main .image10{
        display: none;
    }
    
    main .homeostase .posicao{
        max-width: 500px;
        width: 400px;
        margin: 0 auto;
    }
    main .homeostase > .image{
        width: 100%;
    }
    .podcat{
        max-width: 300px;
    }
    main .partesuple img{
        margin: 0;
    }
}
@media (min-width: 300px) and (max-width: 499px) {
    main .parteinter .parteinter3 > img{
        margin: auto;
    }
    main .parteinter .parteinter3{
        flex-direction: column;
    }
    main .homeostase{
        width: 100%;
    }
    main .parte{
        flex-direction: column;
    }
    main .parte .listasorga{
        width: 350px;
    }
    main .homeostase .funcao2{
        max-width: 300px;
        text-align: center;
    }
    main .image2{
        display: none;
    }
    main .image3{
        display: none;
    }
    main .image10{
        display: none;
    }
    .homeostase{
        display: flex;
        flex-direction: column;
    }
    main .homeostase .posicao{
        max-width: 500px;
        width: 400px;
        margin: 0 auto;
    }
    main .homeostase > .image{
        width: 100%;
    }
    .podcat{
        max-width: 300px;
    }
    main .partesuple img{
        margin: 0;
    }
}








